html,
body {
  margin: 0;
  background-color: #fff;
  height: 100% !important;
}

@media screen and (min-width: 1280px) {
  body {
    height: 80vh !important;
  }

  html {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

* {
  box-sizing: border-box;
}

canvas {
  border-radius: 30px;
  border: #000 1px solid;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
